@import "tailwindcss";

:root {
  --ruby: #9B1C1C;
  --ruby-dark: #8B1E1E;

  --gold: #D4A017;
  --gold-light: #F7D774;

  --ivory: #F8F6F2;

  --bronze: #4A1F12;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--ivory);
  color: var(--bronze);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  cursor: none;
}

@keyframes float {

  0%, 100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-14px);
  }
}

@keyframes slide {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee {

  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}